body {
 background-color: #E0E0E0;
  
}

.topo {
    font-family:'robot', monospace;
    display: flex;
    background: #3F51B5;
    margin: 35px;
    border-radius: 40px;
    box-shadow: 6px 6px 6px;

}

.foto {
    border-radius: 460px; 
    max-height: 250px;
    padding: 50px;
    
}

.titulo {
    text-align:center;
    margin: 30px;
    margin-right: 70px;
    
}

.titulo h1 {
    color: #FAFAFA;
    font-weight: 500;
    font-size: 65px;
    margin: 10px;
    
}
    
.titulo h3 {
    font-size: 18px;
    color: #212121;
    
}

.titulo p {
    font-size: 22px;
    color: #212121;
    
}

.conteudo {
    font-family: 'robot', monospace;
    display: flex;
    background: #3F51B5;
    color: #212121;
    margin: 30px;
    border-radius: 40px;
    box-shadow: 6px 6px 6px;

}

input {
    padding: 10px 15px;
    margin: 30px;
    border-radius: 40px;

}

button {
    padding: 10px 15px;
    margin: 30px;
    border-radius: 40px;

}

p {
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    font-family: 'robot', monospace;
  
  }